.terraform/
*.tfstate
*.tfstate.backup
.terraform*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
.vscode/
.idea/
*.iml
.DS_Store
*.retry
ansible/secrets.yml