- name: Deploy Olympic Tracker app
  hosts: app_servers
  become: yes
  pre_tasks:
    - name: Update apt cache (Debian/Ubuntu)
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Update dnf cache (Amazon Linux/RHEL)
      dnf:
        makecache: yes
      when: ansible_os_family == "RedHat"

  vars_files:
    - secrets.yml

  roles:
    - app

- name: Deploy and configure HAProxy
  hosts: load_balancers
  become: yes
  roles:
    - haproxy
