- name: Deploy Olympic Tracker app with Docker, Handlers and Cleanup
  hosts: app_server
  become: yes

  vars_files:
    - secrets.yml

  vars:
    container_name: olympic-tracker
    image_name: registry.gitlab.com/brianboudrioux/olympic-participation-tracker:latest

  tasks:
    - name: Update apt cache and install prerequisites
      apt:
        update_cache: yes
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present

    - name: Create directory for Docker GPG key
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"

    - name: Add Docker GPG apt Key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"

    - name: Add Docker Repository
      apt_repository:
        repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
        filename: docker

    - name: Install Docker Engine and Python Docker SDK
      apt:
        update_cache: yes
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - python3-docker
        state: present

    - name: Ensure Docker is started
      service:
        name: docker
        state: started
        enabled: yes

    - name: Log into GitLab Container Registry
      docker_login:
        registry_url: registry.gitlab.com
        username: "{{ gitlab_user }}"
        password: "{{ gitlab_token }}"

    - name: Pull and Run Olympic Tracker Container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: always
        published_ports:
          - "80:80"
        pull: yes
      notify: "Confirm Deployment"

    - name: Remove unused Docker data (Cleanup)
      docker_prune:
        images: yes
        images_filters:
          dangling: false
      tags: cleanup

  handlers:
    - name: Confirm Deployment
      debug:
        msg: "Le conteneur {{ container_name }} a été mis à jour et redémarré avec succès."
